@font-face {
    font-family: "Helvet Med";
    src: url(./Fonts/HelveticaNeueMedium.otf);
}


body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: white;
    font-size: 30px;
    /* font-weight: bolder; */
    font-family: "Helvet Med", sans-serif;
    
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

.flex-container {
    display: flex;
}

.grid {
    display: grid;
}

.grid-structer
{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.flex-col {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
    
}

.flex-grow
{
    flex-grow: 1;
}

.textalign-end
{
    text-align: end;
}

.h-100vh {
    height: 100vh;
}

.w-100vw {
    width: 100vw;
}

.w-150px
{
    width: 150px;
    height: 150px;
}

.w-300px
{
    width: 300px;
    
}

.calculator {
    width: 600px;
    height: 750px;
}

.calculator-head {
    width: 100%;
    height: 100px;
    font-size: 30px;
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.calculator-head span {
    max-width: 354px;
    font-size: 70px;
}

.btn {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background-color: #505050;
    border-radius: 50%;
    margin-right: 12px ;
    margin-bottom:12px ;
}

.bg-orange.chosen {
    background-color: white;
    color: orange;
}

.active {
    animation: brightness 0.5s ;
}

@keyframes brightness {
    0% {
        filter: brightness(1.5);
    }

    100% {
        filter: brightness(1);
    }
}

.bg-orange {
    background-color: orange;
}

.bg-lightgray
{
    color: #1c1c1c;
    background-color: #d4d4d2;
}

.zero-button
{
    width: auto;
    padding: 0 35px;
    justify-content: start;
    border-radius: 200px;
    grid-column-start: 1;
    grid-column-end: 3;
}

@media  screen and (max-width:450px) {

    .calculator
    {

        height:  400px;
        
        
    }

    .btn{
        width: 90px;
        height: 90px;       
    }

    
}


@media  screen and (max-width:412px) {

    .calculator
    {

        height:  350px;
        
        
    }

    .btn{
        width: 80px;
        height: 80px;       
    }

    
}

@media  screen and (max-width:388px) {

    .calculator
    {

        height:  300px;
        
        
    }

    .btn{
        width: 70px;
        height: 70px;       
    }

    
}


#EQ {
    lin
}